<div style=" 
background-color:  rgb(249, 249, 249);
width:auto; 
height:550px;">

        <div class="container" >
                <div class="col-md-12" >
                    <div style=" margin-top: 100px;margin-left: 200px;">
                        <h1 >About MyCVOnline </h1>
                    </div>
                        <p>We are a strong job search company.</p>
                        <p>We help people get jobs.</p>
                        <p style=" margin-bottom: 100px;"> We are looking to grow our teams with people who share our energy and enthusiasm for creating the best experience for job seekers and employers.</p>

                </div>
        </div>
</div>