
     




    <section class="section-menu">
    	<div class="navbar navbar-default main-nav" role="navigation" >
    		<div class="container" >
    			<div class="navbar-header">
    				<button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse">
    					<span class="sr-only"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    					<span class="icon-bar"></span>
    				</button>
				
					<a href="#" class="navbar-brand" >Profile</a>
    			</div>  <!-- navbar-header end -->
    			<!-- main nav  -->

        <div class="collapse navbar-collapse navigation" id="bs-example-navbar-collapse-1" role="navigation">
            <ul class="nav navbar-nav navbar-right">
                <li class="active" [routerLink]="['/home']"><a href="#home">Home </a></li>
                <li><a [routerLink]="['/createcv']">Create CV</a></li>
        <li><a [routerLink]="['/editecv']">Edite CV</a></li>
        <li><a [routerLink]="['/createcompany']">Create Company</a></li>
        <li><a [routerLink]="['/editecompany']">Edite Company</a></li>
        <li><a [routerLink]="['/createjob']">Create Job</a></li>
        <li><a [routerLink]="['/editejob']">Edite Job</a></li>
                <a class="btn btn-defoult" [routerLink]="['/register']">Logout</a>
                <button (click)="signOut()" class="btn btn-primary" *ngIf="authenticationService.userData | async">Logout</button>
                
            </ul>

           
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</div>
</section>
<!-- section menu end -->

<section>
<router-outlet> </router-outlet>   
</section>
<!-- section overview end -->
