<div class="start" >
    <!-- <h2> This is app comp</h2> -->
  
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
          <div class="container" >
            
  
              <div class="col-md-12" >
                  <!-- <div class="box-for overflow" > -->
                      <div class="col-md-12 col-xs-12 login-blocks">
                      
        
                          <h2 style="margin-top: 100px;">Find you pefect job today!  </h2>
                          <table>
                      
                                  <td>
                                  
                                  </td>
                                 
                             
                              <tr class="wrapper"></tr>
            
                          
                               <td>
                                      <div>
                                          <input style="color:red;
                                                 font-size: 16px;
                                                 letter-spacing: 1px;
                                                 background-color: white; 
                                                 margin:auto; 
                                                 margin-right:auto; 
                                             
                                                 margin-top:100px; 
                                                 margin-bottom:auto; 
                                                 width:500px; 
                                                 height:35px" 
                                                 type="text" id="search"
                                                 name="search"
                                                 placeholder="Search by name"
                                                 autocomplete="off"><br/>
                                          <ul style="color:red;
                                                     font-size: 16px;
                                                     letter-spacing: 1px;
                                                     margin:100px;
                                                  
                                                     margin-top:auto;
                                                     margin-bottom:auto;
                                                     width:400px;
                                                     height:35px" id='searchResult'>
                                           
                                          </ul>
                                      </div>
                                  </td>
                                  <td>
                                      <input class="btn btn-default" style="
                                     
                                      font-size: 18px;
                                      letter-spacing: 1px;
                                      margin-left:50px; 
                                      margin-top:auto;
                                      margin-right:250px; 
                                      width:150px; height:40px"
                                              type="submit" value="search" (click)="onSearch()" />
                                  </td>
            
                              <tr></tr>
                          </table>
        
                          
                      </div>
        
                  </div>
              </div>
          </div>
        </div>